@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  margin: 0;
  padding: 0;
  color: #ffcb05;
  background-color: #263238;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

header {
  margin: 0 3em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.row-v-center {
  align-items: center;
}

.row-space-between {
  justify-content: space-between;
}

nav > ul {
  list-style: none;
  margin-left: auto;
}

nav > ul > li {
  margin-left: 3em;
}

a {
  color: #f7d02c;
  text-decoration: none;
}

.headerLogo {
  width: 45%;
  height: auto;
}

.comments-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100vw;
  max-height: 100vh;
  padding-bottom: 2em;
  overflow-y: scroll;
  background-color: #263238;
  z-index: 1000;
}

#close-icon {
  position: absolute;
  right: 1em;
  margin: 1em 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.comments-modal ul {
  list-style: none;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container > img {
  width: 15em;
}

.item-container > ul {
  display: flex;
  flex-wrap: wrap;
}

.item-container > ul > li {
  width: 40%;
  margin: 1em;
}

.comments-container > ul {
  text-align: left;
}

.comments-container > ul > li > span {
  font-weight: 800;
}

.add-comment-container {
  display: flex;
  flex-direction: column;
}

.add-comment-container > div {
  display: flex;
  flex-direction: column;
}

#items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.item-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.item-div > img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.btn {
  background: #ffcb05;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 1em;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
 }
 
 .btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
 }
 
 .btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
 }

 .like-btn {
  color: black;
  padding: 0.25em 0.6em;
  font-size: 1.5em;
}

.form__group {
  padding: 15px 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  margin: 0.6em 0;
  font-family: inherit;
  width: 100%;
  border: 0;
  border: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 0.5em;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: #9b9b9b;
}

.form__field:focus {
  border-width: 3px;
  border-image: linear-gradient(to right, #ffcb05, #38ef7d);
  border-image-slice: 1;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}